# Targets
/test/alarm1
/test/alarm1_static
/test/alarm2
/test/alarm2_static
/test/alarm3
/test/alarm3_static
/test/jmp1
/test/jmp1_static
/test/write1
/test/write1_static

# Extensions
*.a
*.so
*.o
*.log